@import "tailwindcss";

@font-face {
  font-family: MuseoSamsRounded;
  src: url("/fonts/museo-sans-rounded/MuseoSansRounded300.otf");
}

@font-face {
  font-family: MuseoSamsRounded500;
  src: url("/fonts/museo-sans-rounded/MuseoSansRounded500.otf");
}

@font-face {
  font-family: MuseoSamsRounded700;
  src: url("/fonts/museo-sans-rounded/MuseoSansRounded700.otf");
}

@font-face {
  font-family: MuseoSamsRounded900;
  src: url("/fonts/museo-sans-rounded/MuseoSansRounded900.otf");
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* Common colors */
  --color-fog: #f6f9f7;
  --color-white: #ffffff;
  --color-shadow: rgba(0, 0, 0, 0.6);
  --color-border: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Apply MuseoSamsRounded font to all text elements */
a, h1, h2, h3, h4, h5, h6, div, button {
  font-family: MuseoSamsRounded, sans-serif;
  color: #000;
}

#deckgl-wrapper {
  @apply !left-[50%] translate-x-[-50%] w-[95%] h-[100vh]
}

.section-container {
  @apply relative w-full xl:w-[472px] h-[474px] bg-[var(--color-fog)] border min-w-[100px] shadow-[0_1px_3px_var(--color-shadow)] rounded-[5px] border-solid border-[var(--color-border)];
}